$header-height: 80px;

.header {
  height: $header-height;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  .h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    margin-right: auto;
  }
  .image {
    height: 80%;
    aspect-ratio: 1/1;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 50%;
  }
}

.taskList {
  min-height: calc(100vh - $header-height);
  background-color: rgb(240, 240, 240);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  .taskContainer {
    position: relative;
    border: 1px solid black;
    border-bottom-width: 0px;
    &:last-child {
      border-bottom-width: 1px;
    }
    .task {
      width: 100%;
      padding: 5px 10px;
      height: 62px;
      overflow: clip;

      &Title {
        font-size: 1.4rem;
        margin-bottom: 2px;
      }

      &Desc {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
    }
    .iconsContainer {
      display: flex;
      align-items: center;
      background-color: rgb(240, 240, 240);
      height: 100%;
      padding: 0 10px;
      gap: 10px;
      position: absolute;
      right: 0;
      top: 0;
      // visibility: hidden;

      .iconDiv {
        background-color: black;
        height: 40px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: none;

        &:hover {
          background-color: rgb(0, 0, 0, 0.1);
          color: black;
        }
        .icon {
          width: 50%;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

.addBtn {
  position: absolute;
  bottom: 40px;
  right: 40px;
  height: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 70px;
  display: grid;
  place-content: center;
}
